.addcourse {
  position: fixed;
  bottom: 80px;
  z-index: 1;
  right: 10px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-family: monospace;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid white 1px;
  cursor: pointer;
}
.scrollpos {
  position: fixed;
  bottom: 120px;
  left: 170px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid white 1px;
  cursor: pointer;
}
.cgpa {
  padding: 10px;
  position: fixed;
  top: 5px;
  left: 155px;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: white;
}
.updateinput {
  padding: 10px;
  border: solid black 0px;
  color: black;
  font-size: 0.9rem;
  border-radius: 10px;
}
.updatebutton {
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  cursor: pointer;
}
.selectsession {
  padding: 5px;
  border-radius: 5px;
  margin: 50px;
  cursor: pointer;
}
.updatebtn {
  cursor: pointer;
}
.cgpamessage {
  font-style: italic;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 7px;
  margin: auto;
  padding: 50px;
  width: 'fit-content';
  height: 'fit-content';
}
.cgpaview {
  font-family: monospace;
  font-size: 0.9rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.backtoquiz {
  position: fixed;
  left: 155px;
  top: 5px;
  padding: 5px;
  background-color: white;
  width: fit-content;
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 1;
  color: blue;
  border: solid rgba(0, 0, 0, 0.6) 1px;
  border-radius: 10px;
  box-shadow: black 5px 5px 6px;
  cursor: pointer;
}
.quizview {
  position: relative;
  display: flex;
  gap: 60px;
  color: black;
  width: 87%;
  overflow-x: auto;
}
.questionview {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  font-family: monospace;
  color: white;
  font-size: 0.8rem;
  width: 87%;
}
.saysm {
  border-radius: 20px;
  width: 60%;
  padding: 10px;
  margin: 10px;
  background-color: rgba(230, 230, 230, 1);
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .saysm {
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(230, 230, 230, 1);
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  .selectsession {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  .scrollpos {
    left: 20px;
  }
  .cgpa {
    left: 0px;
  }
  .backtoquiz {
    left: 5px;
  }
  .quizview {
    gap: 25px;
  }
  .questionview {
    gap: 15px;
  }
}
