.body {
  text-align: left;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  justify-items: center;
}
.usernameshadow {
  color: black;
  text-shadow: white 0px 0px 10px;
  font-style: italic;
  margin-top: 3px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.15rem;
}
.userimg {
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  margin: 0px;
}
.imgCover {
  position: fixed;
  overflow-x: auto;
  margin: 0px;
  padding: 0px;
  right: 5px;
  z-index: 2;
  top: 2px;
  display: inline-flex;
}
.viewbg {
  background-color: rgb(250, 250, 250, 0.9);
}
.hometoggle {
  text-shadow: white 0px 0px 7px;
  display: inline-flex;
  margin: 20px;
  margin-top: 15px;
}
.hometoggleitem {
  cursor: pointer;
  border-radius: 15px;
  padding: 2px 15px;
  height: fit-content;
  justify-content: center;
  text-align: center;
  width: 50px;
  margin: auto;
}
.hometogglegroup1 {
  position: fixed;
  top: 40px;
  left: 10px;
  display: flex;
}
.coverDetail {
  margin: 5px;
  font-family: monospace;
  font-size: 0.6rem;
}
.userbar {
  width: 250px;
  z-index: 2;
  color: white;
  display: block;
}
.usersidebar {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0px;
  z-index: 2;
  padding-left: 10px;
  width: 240px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  overflow-y: auto;
  list-style: none;
  font-size: 1rem;
  font-family: monospace;
}
.userleft {
  position: relative;
  display: block;
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  color: darkorange;
  float: left;
  text-align: left;
  width: 215px;
  text-decoration: none;
  cursor: pointer;
}
.userleftitem {
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  color: rgba(205, 205, 205);
  padding-top: 20px;
  float: left;
  text-decoration: none;
  padding-bottom: 20px;
  cursor: pointer;
}
.userlefttop {
  display: block;
  content-visibility: hidden;
  margin: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 110px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 7px;
  border-radius: 20px;
  /* box-shadow: darkorange 0px 0px 4px; */
}
.userleftbottom {
  display: block;
  padding-top: 100px;
  font-family: 'Courier New';
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
}
.sideicons {
  margin-right: auto;
}
.taskdrop {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 8px;
  cursor: pointer;
  /* box-shadow: 0px 0px 9px white; */
  color: darkorange;
  outline: none;
}
.srch {
  padding: 15px;
  border-width: 0px;
  width: 70%;
  outline: none;
  text-align: left;
}
.srchcover {
  /* background-color: blue; */
  border-radius: 50px;
  border: solid black 1px;
  width: 50%;
  float: left;
  margin-left: 20px;
}
.profimg {
  position: relative;
  width: 160px;
  background-size: contain;
  background-color: rgba(230, 230, 230, 1);
  height: 160px;
  margin-top: -90px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: auto;
}
.imgcover {
  padding: 0px;
  margin: 0px;
  background-size: cover;
  background-color: rgba(230, 230, 230, 1);
  height: 200px;
}
.profmenu {
  position: absolute;
  bottom: 3px;
  left: 160px;
  font-size: 2.2rem;
  background-size: cover;
  cursor: pointer;
}
.profcover {
  padding: 0px;
  margin: 0px;
  padding-bottom: 50px;
  border-bottom: solid rgba(210, 210, 210, 1) 4px;
  text-align: left;
}
.drop {
  width: auto;
  float: left;
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
  list-style: none;
  font-size: 0.8rem;
  font-weight: lighter;
  font-style: italic;
}
.dropitem {
  display: inline-flex;
  width: max-content;
  z-index: 2;
  padding: 10px;
  height: fit-content;
  margin-bottom: 15px;
  cursor: pointer;
}
.profmenudrop {
  position: absolute;
  z-index: 2;
  left: 135px;
  top: 145px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  list-style: none;
  width: max-content;
  text-align: left;
}
.menuitem {
  font-size: 0.8rem;
  font-family: monospace;
  color: white;
  margin: 3px;
  padding: 7px;
  border: solid rgba(59, 59, 60, 1) 2px;
  cursor: pointer;
}
.userabout {
  padding: 20px 15px;
  border-bottom: solid rgba(210, 210, 210, 1) 4px;
}
.userdetails {
  padding: 20px 15px;
  border-bottom: solid rgba(210, 210, 210, 1) 4px;
}
.adminboard {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  color: white;
  background-color: rgba(19, 19, 20, 1);
  width: 100%;
  height: 100%;
}

.admintopbar {
  list-style: none;
  display: inline-flex;
  padding: 5px;
}
.adminbaritem {
  text-align: center;
  font-family: monospace;
  width: initial;
  padding: 7px;
  margin: auto 30px;
  cursor: pointer;
}
.searchfilter {
  position: absolute;
  display: flex;
  left: 0px;
  top: 40px;
  list-style: none;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px black;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 10px;
  z-index: 1;
  cursor: auto;
  text-align: left;
}
.filtertitle {
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: solid rgba(200, 200, 200, 1) 2px;
}
.searchfilteritem {
  font-size: 0.8rem;
  padding: 3px;
  margin: 5px 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.napsitesearchcover {
  display: flex;
  margin: auto;
  gap: 10px;
  margin-top: 30px;
  width: 50%;
  padding: 5px;
  color: black;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 7px black;
}
.napsitesearchinput {
  width: 80%;
  margin: 5px;
  padding: 10px;
  border: none;
  color: black;
  outline: none;
}
.searchby {
  border-radius: 15px;
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  margin: 5px;
  cursor: pointer;
}
.searchbyitem {
  background-color: white;
}
.ftr {
  position: relative;
  padding: 5px;
  margin: 5px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 1);
  color: black;
}
.removeftr {
  position: absolute;
  top: 13px;
  border-radius: 50%;
  cursor: pointer;
}
.napsiteviewarea {
  overflow-y: auto;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 70px;
  margin-top: 30px;
  height: 450px;
  width: 450px;
  justify-content: center;
}
.napsiteview {
  position: relative;
  background-color: rgba(250, 250, 250, 1);
  color: black;
  font-family: monospace;
  font-size: 0.9rem;
  border-radius: 40px;
  width: 300px;
  height: 150px;
  margin: 40px;
  /* margin-bottom: 10px; */
  cursor: pointer;
}
.usercontrolopts {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 1;
  padding: 0px;
  display: inline-block;
  list-style: none;
  flex-wrap: wrap;
}
.usercontrolitem {
  text-align: left;
  color: lightgreen;
  font-weight: bold;
  font-family: monospace;
  font-size: 0.9rem;
  padding: 5px;
  margin: 5px;
  width: max-content;
  background-color: black;
  cursor: pointer;
}
.profiledetails {
  padding: 0px;
}
.profiledetailsitem {
  display: block;
  font-family: monospace;
  border-bottom: solid rgba(210, 210, 210, 1) 2px;
  padding: 10px;
  padding-top: 20px;
}
.profiledetailsitemtitle {
  font-weight: bold;
  margin-bottom: 20px;
}
.profimgview {
  background-color: rgba(0, 0, 0, 1);
  width: 500px;
  height: 100%;
  margin: auto;
  padding-top: 100px;
}
.paystackButton {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  border: solid green 1px;
  color: green;
  font-family: monospace;
  margin-left: auto;
}
.updatecov {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}
.updatecovchild {
  position: relative;
  margin: auto;
  padding-top: 100px;
  height: 84vh;
  width: 400px;
  border-radius: 20px;
}
@media screen and (max-width: 700px) {
  .updatecovchild {
    width: 100vw;
    height: 100vh;
  }
  .profimgview {
    width: 100%;
  }
  .closenav {
    width: 100vw;
    height: 100vh;
  }
  .body {
    padding: 2px;
  }
  .userlefttop {
    display: block;
    content-visibility: visible;
    margin: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 70px;
    text-align: center;
    background-color: rgba(10, 10, 10);
    padding: 7px;
    border-radius: 20px;
    box-shadow: rgba(10, 105, 214) 0px 0px 7px;
  }
  .userbar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
  }
  .usersidebar {
    position: absolute;
    padding-left: 18px;
    padding-top: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100vh;
    z-index: 0;
  }
  .hometoggleCover {
    margin: 0px;
    position: fixed;
    justify-content: center;
    text-align: center;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    z-index: 1;
  }
  .hometoggle {
    margin: auto;
    text-shadow: white 0px 0px 7px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-shadow: none;
    font-weight: bold;
    width: 98%;
    z-index: 1;
    display: inline-flex;
    overflow-x: auto;
    padding: 2px 5px;
  }
  .hometoggleitem {
    margin: auto;
    padding: 3px 20px;
    border-radius: 15px;
  }
  .hometogglegroup1 {
    position: initial;
    display: flex;
  }
  .profiledetails {
    padding: 0px;
  }
  .profiledetailsitem {
    display: block;
    font-family: monospace;
    border-bottom: solid rgba(210, 210, 210, 1) 2px;
    padding: 10px;
    padding-top: 20px;
  }
  .profiledetailsitemtitle {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .napsitesearchcover {
    width: 90%;
  }
  .napsitesearchinput {
    width: 80%;
  }
  .napsiteviewarea {
    overflow-y: auto;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 70px;
    margin-top: 30px;
    height: 45vh;
    width: 350px;
    justify-content: center;
  }
  .napsiteview {
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    color: black;
    font-family: monospace;
    font-size: 0.9rem;
    border-radius: 30px;
    width: 300px;
    height: 150px;
    margin: 20px;
    /* margin-bottom: 10px; */
    cursor: pointer;
  }
}
